/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    header, nav, main, footer {
        max-width: 64rem;
        margin:auto;
    }
.item2{
    background-image: url('Screenshot\(221\).png');
    text-align: center;
}
.box{
    background-color: aquamarine;
    opacity: 0.5;
    margin: 50px
/*----------- BODY --------------*/


/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/



/*----------- FOOTER --------------*/
    
}