@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Rock+Salt&display=swap');
/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
h1, h3{
    font-family: 'roboto', sans-serif;
}
p{
    font-size: initial;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}



/*----------- BODY --------------*/
.cli{
    width: 90px;
    height: 40px;
    font-size: 15px;
}
.cli2{
    width: 130px;
    height: 40px;
    font-size: 15px;
    padding: 1px;
}
.buttons {
    display: flex;
    justify-content: center;
    margin: 30px;
}

#grid,
#list {
    width: 80px;
    height: 41px;
}

article>h3 {
    margin: 7px
}

body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
    margin: 0;
    background-color: #131f45;
    font-family: 'Rock Salt', 'roboto',sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
}

.title {
    color: rgb(255, 245, 245);
    font-size: 30px;
}

.decoration {
    font-size: 25px;
    padding: 25px;
    background-color: rgb(244, 239, 75);
    margin-bottom: 157px;
    color: rgb(211, 80, 80);
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    border-bottom: 3px solid rgb(203, 77, 77);
}

/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color: rgb(37, 56, 199);
    display: grid;
    grid-template-columns: 75px auto;
    color: rgb(242, 242, 242);
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;

}

header div {
    margin-left: 70px;
}

header h1 {
    margin: 0;
}

header h2 {
    margin: 0;
    font-weight: normal;
}

.date {
    background-color: rgb(74, 74, 74);
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    grid-column: 1 /span 2;
    display: flex;
    font-family: 'roboto', sans-serif;
}

.logo {
    max-width: 120px;
    border-radius: 50%;
}

/*----------- NAVIGATION --------------*/
/*--nav {
    background-color: #666;
}
nav button {
    margin: 0 2vw;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: rgb(0, 0, 0);
}
nav ul {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul.open{display: block;}

nav ul li a {
    display: block;
    color: #eee;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
    border-top: 1px solid black;
}


nav ul li a:hover {
    background-color: #aaa;
    color: #333;
}
nav ul li.active a {
    background-color: #000;
    color: #fff;
}--*/
.active {
    background-color: #000;
    color: #fff;
}

nav {
    background-color: #666;
}

nav button {
    margin: 0 2vw;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: rgb(0, 0, 0);
}

nav ul {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul.open {
    display: block;
}

nav ul li a {
    display: block;
    color: #eee;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
    border-top: 1px solid black;
}


nav ul li a:hover {
    background-color: #aaa;
    color: #333;
}

nav ul li.active a {
    background-color: #000;
    color: #fff;
}

/*----------- MAIN --------------*/
.dirg {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.coisa1 {
    grid-column: 1/2;
    grid-row: 1;
}

.coisa2 {
    grid-column: 1/3;
    grid-row: 2;
    background-color: rgb(28, 27, 27);
    display: flex;
    text-align: center;
    flex-direction: column;
    border-radius: 20px;
    width: auto;
}

.coisa3 {
    grid-column: 2/3;
    grid-row: 1;
    width: auto;
    margin: 40px;

}

.weather_icon {
    width: 60px;
}

main {
    padding: 0 2%;
    min-height: 10rem;
    margin-bottom: 20px;
}

.myphoto {
    display: block;
    width: 90%;
    margin: 0 2%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-content: center;
    align-content: center;
    margin: auto;
}


.grid-container>div {
    background-color: rgba(224, 133, 133, 0.8);
    text-align: center;
    padding: 20px 0;
}

.item1 {
    grid-column: 1/3;
    grid-row: 1;
    height: auto;
    border-radius: 15px;
    font-size: 20px;
}

/*--.item2{
/*--    grid-column: 1/3;
/*--    grid-row: 2;
/*--    height: auto;
/*--    background-image: url('g-img.png');
/*--    text-align: center;
/*--    background-size: 388px 260px;
/*--    background-repeat: no-repeat;
/*--    }-*/
.item2 {
    grid-column: 1/3;
    grid-row: 2;
    height: auto;
    background-image: url("gyn-city.jpg");
    background-size: cover;
    background-position: center;
    display: grid;
    border-radius: 15px;
}

.item3 {
    grid-column: 1/3;
    grid-row: 3;
    height: auto;
    border-radius: 15px;
    font-size: 11px;
}

.thing {
    display: flex;
    justify-content: center;
}

.will {
    padding: 9px;
    font-size: 15px;
}

.bussiness img {
    margin: auto;
    width: 80px;
    height: 30px;
    font-size: 14px;
}

.bussiness {
    border-style: solid;
    border-width: thin;
    border-color: #cfcfcf;
    margin: 20px;
    padding: 30px;
   font-size: 8px;
   width: 180px;
   height: 400px;
}

.h {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

figcaption {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    border-bottom: 1px solid rgb(0, 0, 0);
    margin: 20px;
    padding: 5px;
}

.item4 {
    grid-column: 1/3;
    grid-row: 4;
    height: auto;
    border-radius: 15px;
}
.item4 p{
    font-size: 13px;
}

.item5 {
    display: none;
    grid-column: 1/3;
    grid-row: 5;
    height: auto;
    border-radius: 15px;
}

.item6 {
    grid-column: 1/3;
    grid-row: 6;
    height: auto;
    border-radius: 15px;
    padding: 10px;
}
.item6  p{
font-size: 13px;
}

.item7 {
    grid-column: 1/3;
    grid-row: 7;
    height: auto;
    border-radius: 15px;
}

.pt {
    color: rgb(242, 242, 242);
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

/*----------- FOOTER --------------*/
.flex-container2 {
    display: flex;
    column-gap: 5px;
    height: auto;
    text-align: center;
    margin-left: 160px;
}

.flex-container2>div {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.a {
    color: azure;
    font-size: 15px;
}

.a>#demo2 {
    color: azure;
    font-size: 15px;
}

a {
    margin: 0;
}

.f>#d2 {
    color: rgb(245, 252, 154);
    font-size: 15px;
}

.f {
    color: rgb(245, 252, 154);
    font-size: 15px;
}

.footer {

    padding: .5rem 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(242, 242, 242);
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    background-color: rgb(37, 56, 199);
    font-family: 'roboto', sans-serif;
}

footer {
    background-color: rgb(37, 56, 199);
}

.box {
    background-color: #11fc38bc;
    font-size: 30px;
    margin: auto;
    width: auto;
    border-radius: 15px;
    padding: 5%;
    justify-content: center;
}
.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}
.mapouter{position:relative;text-align:right;height:500px;width:600px;}
a:hover {
    text-decoration: underline;
}
iframe{
    width: 600px;
    height: 500px;
    border: none;
    margin: 0;
}
.links{
    font-family: 'roboto', sans-serif;
}
a {
    color: #eee;
    text-decoration: none;
}

.icons {
    width: 50px;
}

div#message {
    background-color: rgb(68, 0, 0);
    color: #fff;
    height: auto;
    text-align: center;
    margin: 20px;
    padding: 7px;
    font-family: 'roboto', sans-serif;

}
.new .color{
    font-size: 8px;
}
.newid .color{
    font-size: 12px;
}

div.showme {
    display: block;
}

div.hideme {
    display: none;
}

/*------form--------*/
.top textarea {
    display: block;
}

form fieldset {
    margin: 2rem 0;
    border: 1px solid #d6def7;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: #d6def7;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top,
form div {
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: .8rem;
}

form label.top input,
form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: rgb(0, 0, 0);
    width: 100%;
    max-width: 20rem;
    background-color: rgba(247, 243, 243);
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: rgb(168, 167, 167);
}

form input.submitBtn {
    border: none;
    background-color: #9c2c13;
    color: #eee;
    border-radius: 1rem;
    padding: 1.5rem;
    margin: 49px 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
    height: 50px;
    font-size: 20px;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

.new {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    padding: 25px;
}

.new {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    padding: 25px;
}

.new>article {
    margin: 10px;
    background-color: rgb(214, 165, 106);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    font-size: 12px;
    max-width: 300px;
    max-height: 300px;
    padding: 11px;
    border-radius: 20px;

}

.newid>article {
    margin: 10px;
    background-color: rgb(128, 92, 49);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    max-width: 1000px;
    max-height: 300px;
    padding: 18px;
    border-radius: 20px;

}

#desc2 {
    height: 130px;
}

.desc {
    height: 80px;
    width: 275px;
}

.pool {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.newid>article>img {
    display: none;
    max-width: 80px;
}

h3 {
    color: rgb(45, 45, 141);
    font-size: 14px;
}

.newid>article>h4 {
    padding: 20px;
}

article>img {
    width: 90px;
}

.dip {
    display: flex;
    background-color: #131f45;
}